.container{
    background-color:aqua;
    margin: 0 100px;
    height: 1200px; 
    
    

}
.homepage{
    background-color: #607D8B;
    height: 1200px;
    padding: 30px;
}
.EmployeeDetail{
    background-color: #009688;
        height: 1200px;
        padding: 30px;
}
.name {
    font-size: 2em;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
}
.top {
    /* border-radius: 25px 25px 0 0; */
    height: 1200px;
    width: 100%;
    background-color: #00cec9;
    /* position: absolute;
    top: 0;
    left: 0; */
    display: flex;
    flex-direction: row;
    flex: 50%;
}